<div style="text-align:center">
  <h1>
    Welcome to Vault!
  </h1>
  <p style="margin: 20px 200px; text-align: left;">
    We could also add a landing page for a site if it's too big. We don't have to include the site in the angular portal
    project, it can be primarily crud site. If it's big, i.e. shipping, then we can launch it to a new url.
  </p>
  <a mat-button color="primary" href="http://www.google.com" target="_blank">Launch Vault</a>
  <div>
    <h3>Color Theme</h3>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
  </div>
  <br />
</div>
