<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav" [fixedInViewport]="true" opened="true" position="start" mode="side">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/omega-trust/home">Omega Trust</a>
      <a mat-list-item routerLink="/cdms/home">CDMS</a>
      <a mat-list-item routerLink="/vault/home">Vault</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a routerLink="/home" style="color:inherit; text-decoration:none; font-weight:inherit">Colonial Portal</a></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
