<div style="text-align:center; margin: 20px 200px;">
  <h1>Welcome to CDMS</h1>
  <p>
    This is a module that lives within the app. It's a way to logically separate features in an application but cannot
    be run outside of the application.
  </p>
  <div style="margin:30px 0px">
    <p style="font-weight: bold">Benefits:</p>
    <ul style="text-align: left; padding: 0 300px">
      <li>Less overhead and complications</li>
      <li>Overall code is less because it doesn't have to be an independent app</li>
      <li>Code is still siloed so other teams can still work on different features with minimal interferance</li>
    </ul>
    <br />
    <p style="font-weight: bold">Negatives:</p>
    <ul style="text-align: left; padding: 0 300px">
      <li>Can't be run independently so you'll have to spin up the app</li>
      <li>More complicated than modules but once one is created then it can be copied</li>
    </ul>
  </div>
</div>
<div style="margin: 30px 0">
  <button mat-raised-button (click)="openSharedDialog()">Open Shared Dialog</button>
  <div>Shared Dialog Result: {{sharedDialogResult | json}}</div>
</div>
