<div style="text-align:center; margin: 20px 200px;">
  <h1>Welcome to Omega Trust</h1>
  <p>
    This is a different application within the angular project folder. It
    can be a stand alone app, or we can add it to the portal.
  </p>
  <div style="margin:30px 0px">
    <p style="font-weight: bold">Benefits:</p>
    <ul style="text-align: left; padding: 0 300px">
      <li>The development is easier because you don't have to spin up the main app since it can be run independently
      </li>
      <li>The ability to run the application on a different server or domain if it gets too big</li>
    </ul>
    <br />
    <p style="font-weight: bold">Negatives:</p>
    <ul style="text-align: left; padding: 0 300px">
      <li>Adds a little bit more overhead and more code that may not be used at all except for development</li>
      <li>More complicated than modules but once one is created then it can be copied</li>
      <li>Images are tricky, will have to duplicate images in both applications because of relative path. Are there
        other complications that'll come later?</li>
    </ul>
  </div>
  <img src="../assets/images/how_hacking_works.png" />
</div>
