<div style="text-align:center">
  <h1>
    Welcome to Colonial Portal!
  </h1>
  <p style="margin: 20px 200px; text-align: left;">
    This is a website where we'll take old applications and modernize them into a unified user interface.
    This will help keep the company in the 21st century. Add some more thoughts about this website so that people
    don't freak out about change.
  </p>
  <p style="margin: 20px 200px; text-align: left;">
    We'll utilize Angular for the UI, DotNet Core 2.2+ for the API, SQL Server for the Backend, and Mulesoft for the
    communication between APIs.
    We'll add logging and other helpful things for fixing issues.
  </p>
  <div>
    <h3>Color Theme</h3>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
  </div>
  <div style="margin: 30px 0">
    <button mat-raised-button (click)="openSharedDialog()">Open Shared Dialog</button>
    <div>Shared Dialog Result: {{sharedDialogResult | json}}</div>
  </div>
  <a routerLink="/home2">
    <img src="../assets/images/test code meme.jpg" />
  </a>
</div>
